@import url(usr.css);
@import url(tags.css);
@import url(topics.css);

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color: #1A1D28;
    color: aliceblue;
    font-size: 20px;
    font-family: "rubik";

}

h1 {
    margin-top: 100px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-bottom: 50px;
}

#wrapper {
    /* padding: 30px; */

}

a {
    color: aliceblue;
}

main {
    /* padding: 50px; */
    
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* label {
        padding: 10px;
    } */
}

#forum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAVBAR */



.navbar {
    /* background-color: #1869bb; */
    background-color: #262D34;
    padding: 10px 20px;
    /* width: 100vw; */
}

.navbar-header {
    background-color: #262D34;
    display: flex;
    padding: 10px 0;
    
}

.navContainer {
    background-color: #262D34;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-brand {
    background-color: #262D34;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar-toggler {
    border: none;
    background: transparent;
    cursor: pointer;
}

.navbar-toggler .navbar-toggler-icon {
    background-color: #262D34;
    font-size: 1.8rem;
}

/* styles.css */
.sidebar {
    position: fixed;
    top: 0px;
    right: -500px; /* Rétracté par défaut */
    width: 35vw;
    height: 100%;
    transition: right 0.5s ease; /* Animation de transition */
    z-index: 1000; /* Assure que la sidebar apparaît au-dessus de tout le contenu */
    padding: 20px;
}

.sidebar.show {
    right: 0; /* Sidebar visible lorsque la classe "show" est ajoutée */
    text-align: end;
}

.link-group {
    background-color: #262D34;
    padding: 15px;
    margin: 10px 0 10px;
    border-radius: 10px;
    ul,
    li,
    a {
        background-color: #262D34;
    }
    .subLinks {
        
        margin-top: 10px;
    }
    .category-link {
        font-size: 20px;
    }
}

.sidebar ul {
    list-style-type: none;
    /* padding-top: 100px; */
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;

    
}

.sidebar ul li a:hover {
    color: #007bff;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.figUser {
    background-color: #262D34;
}
.navPic {
    background-color: #262D34;
    width: 50px;
    height: auto;
    border-radius: 50%;
}


.show {
    display: flex;
    justify-content: flex-end;
}

.sidebar-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    backdrop-filter: blur(5px); /* Effet de flou */
}


.sidebar-mask.show {
    display: block; /* Afficher le masque lorsque la sidebar est ouverte */
}


footer {
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.footer-info {
    text-align: center;
}

.footer-info p {
    margin: 5px 0;
}

.footer-info a {
    color: #fff;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}
