/* 
.Guide {
    color: #00c016;
}
.Humour{
    color: #0073ff;
}
.Hype{
    color: #c800c1;
}
.Discuss{
    color: #780076;
}
.Aide{
    color: #e9fa00;
}
.Speculation{
    color: #00b2ce;
} */


.add-topic-btn {
    display: inline-block;

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #253151;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.topics-list {
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.topic {
    display: flex;
    background-color: #1d242c;
    /* border-radius: 5px;  */
    padding: 20px;
    width: 80vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.first-topic {
    border-radius: 15px 15px 0 0; /* Bords arrondis uniquement pour le premier topic */
}


.topic-header {
    margin-bottom: 10px;
    width: 150px;
    background-color: #1d242c;
    /* display: flex; */
}

.topic-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background-color: #1d242c;
    a {
        background-color: #1d242c;

    }
}

.topic-details {
    /* display: flex; */
    font-size: 0.9rem;
    width: 220px;
    color: #555;
    .topic-author,
    .topic-category,
    .topic-date, a, p, a{
        background-color: #1d242c;
    }
    .BB  {
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        border-radius: 5px;
        background-color: #002240;
        color: #9dc9ff;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        width: 120px;
        height: 35px;
        align-items: center;
        /* margin-top: 5px; */
        /* border: 1px solid rgb(0, 13, 39); */
    }
    .ER  {
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        border-radius: 5px;
        background-color: #321c00;
        color: #ffe562;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        width: 110px;
        height: 35px;
        align-items: center;
        /* margin-top: 5px; */
    }
    .SK  {
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        border-radius: 5px;
        background-color: #5e0000;
        color: #ff9999;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        width: 80px;
        height: 35px;
        align-items: center;
        /* margin-top: 5px; */
    }
    

    .Guide {
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        background-color: #000000;
        border-radius: 5px;
        width: 70px;
        height: 35px;
        color: #61e06f;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        align-items: center;
    }
    .Humour{
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        background-color: #000000;
        border-radius: 5px;
        width: 85px;
        height: 35px;
        color: #98c6ff;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        align-items: center;
    }
    .Hype{
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        background-color: #000000;
        border-radius: 5px;
        width: 70px;
        height: 35px;
        color: #da6b6b;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        align-items: center;
    }
    .Discuss {
        display: flex;
        /* justify-content: center; */
        background-color: #000000;
        border-radius: 5px;
        /* width: 80px; */
        height: 35px;
        color: #e7bfe6;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        overflow: hidden;
        align-items: center;
        text-overflow: ellipsis; 
        white-space: nowrap; 
    }
    
    .Aide{
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        background-color: #000000;
        border-radius: 5px;
        width: 70px;
        height: 35px;
        color: #c7ce5d;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        align-items: center;
    }
    .Speculation{
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        background-color: #000000;
        border-radius: 5px;
        width: 120px;
        height: 35px;
        color: #59bbca;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        align-items: center;
    }
}

.topic-category a {
    color: #007bff;
    text-decoration: none;
    margin: 1px;
}

.topic-category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.topic-date {
    margin-left: auto;
}

/* fais en sorte que les elements pairs aient 
une couleur de fond differente des elements impairs */
.topic:nth-child(even) {
    background-color: #334c69; 
    .topic-header,
    .topic-title,
    .topic-author,
    .topic-category,
    .topic-date,div, a, p {
        background-color: #334c69;
    }
    .BB a {
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        border-radius: 5px;
        background-color: #002240;
        color: #9dc9ff;
        width: 120px;
        height: 35px;
        align-items: center;
        /* margin-top: 5px; */
    }
    .ER a {
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        border-radius: 5px;
        background-color: #321c00;
        color: #ffe562;
        width: 110px;
        height: 35px;
        align-items: center;

        /* margin-top: 5px; */
    }
    .SK a {
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        border-radius: 5px;
        background-color: #5e0000;
        color: #ff9999;
        width: 80px;
        height: 35px;
        align-items: center;
        /* margin-top: 5px; */
    }
    .BB  {
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        border-radius: 5px;
        background-color: #002240;
        color: #9dc9ff;
        width: 120px;
        height: 35px;
        align-items: center;
        /* margin-top: 5px; */
      
    }
    .ER  {
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        border-radius: 5px;
        background-color: #321c00;
        color: #ffe562;
        width: 110px;
        height: 35px;
        align-items: center;

        /* margin-top: 5px; */
      
    }
    .SK  {
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        border-radius: 5px;
        background-color: #5e0000;
        color: #ff9999;
        width: 80px;
        height: 35px;
        align-items: center;
        /* margin-top: 5px; */
    }

    .Guide {
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        background-color: #000000;
        border-radius: 5px;
        width: 70px;
        height: 35px;
        color: #61e06f;
        align-items: center;
    }
    .Humour{
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        background-color: #000000;
        border-radius: 5px;
        width: 85px;
        height: 35px;
        color: #98c6ff;
        align-items: center;
    }
    .Hype{
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        background-color: #000000;
        border-radius: 5px;
        width: 70px;
        height: 35px;
        color: #da6b6b;
        align-items: center;
    }
    .Discuss {
        display: flex;
        /* justify-content: center; */
        background-color: #000000;
        border-radius: 5px;
        width: 80px; /* Réduire la largeur à 80px */
        height: 35px;
        color: #e7bfe6;
        
        align-items: center;
        text-overflow: ellipsis; /* Afficher les trois points de suspension en cas de dépassement */
        white-space: nowrap; /* Empêcher le texte de se couper sur plusieurs lignes */
    }
    
    .Aide{
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        background-color: #000000;
        border-radius: 5px;
        width: 70px;
        height: 35px;
        color: #c7ce5d;
        align-items: center;
    }
    .Speculation{
        display: flex;
        justify-content: center;
        /* padding: 5px; */
        background-color: #000000;
        border-radius: 5px;
        width: 110px;
        height: 35px;
        color: #59bbca;
        align-items: center;
    }
}

.container {
    width: 80vw;
    margin: 0 auto;
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}

.topic-actions {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
    
}

.topic-actions a {
    display: inline-block;
    margin-right: 10px;
    color: #d3e7ff;
    text-decoration: none;
    margin-top: 10px;
    background-color: #253151;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.topic-actions a:hover {
    text-decoration: underline;
}

.topic-state h2 {
    margin-top: 10px;
    background-color: #253151;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    width: 160px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.reply-form-container {
    margin-bottom: 20px;
}

.form-header h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

textarea {
    /* width: 80vw; */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
}

.form-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.form-button:hover {
    background-color: #0056b3;
}


.replies-container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1d242c;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.post {
    padding: 20px;
    background-color: #1a232c;
    border-radius: 5px;
    margin-bottom: 10px;
}

.post p {
    margin: 0;
    background-color: #1a232c;
}
.upper-post {
    background-color: #1a232c;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.user-profile {
    display: flex;
    background-color: #1a232c;
    justify-content: flex-start;
    align-items: center;
}

.figUserPost{
    background-color: #1a232c;
}

.postPic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 15px;
}

.user-info {
    display: flex;
    background-color: #1a232c;
    padding-left: 10px;
    flex-direction: column;
}

.user-name{
    background-color: #1a232c;
}
.post-date{
    background-color: #1a232c;
    color: #a8a8a8;
    font-size: 16px;
}

.post-user {
    font-weight: bold;
    background-color: #1a232c;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #a0a0a0;
    margin: 10px 0; 
}

.post-actions {
    /* margin-top: 20px; */
    background-color: #1a232c;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.delete-post,
.update-post {
    margin-left: 10px;
    color: #d3e7ff;
    text-decoration: none;
    background-color: #1a232c;
    font-size: 15px;
}

.delete-post:hover,
.update-post:hover {
    text-decoration: underline;
}







.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #253151;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

